.cart {
    min-height: 200px;
}

.btn-circle{
    width: 31px;
    height: 31px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}